Repository FastyFresh/agentx-6qib8r, changes with the owners that .github/CODEOWNERS names for each.
All owners: @platform-admins, @backend-team-leads, @security-team-leads, @sre-team-leads, @frontend-team-leads, @devops-team-leads, @database-team-leads, @technical-writers, @qa-team-leads

Add public-samples/agentx-6qib8r/src/backend/api-gateway/src/index.ts
  src/backend/api-gateway/src/index.ts
Owners: @backend-team-leads

Add public-samples/agentx-6qib8r/src/backend/api-gateway/src/config/kong.config.ts
  src/backend/api-gateway/src/config/kong.config.ts
Owners: @platform-admins, @devops-team-leads

Add public-samples/agentx-6qib8r/src/backend/api-gateway/src/middleware/auth.middleware.ts
  src/backend/api-gateway/src/middleware/auth.middleware.ts
Owners: @backend-team-leads

Add public-samples/agentx-6qib8r/src/backend/api-gateway/src/middleware/ratelimit.middleware.ts
  src/backend/api-gateway/src/middleware/ratelimit.middleware.ts
Owners: @backend-team-leads

Add public-samples/agentx-6qib8r/src/backend/api-gateway/src/routes/index.ts
  src/backend/api-gateway/src/routes/index.ts
Owners: @backend-team-leads

Add public-samples/agentx-6qib8r/src/backend/api-gateway/test/integration/gateway.test.ts
  src/backend/api-gateway/test/integration/gateway.test.ts
Owners: @backend-team-leads, @qa-team-leads

Add public-samples/agentx-6qib8r/src/backend/auth-service/Dockerfile
  src/backend/auth-service/Dockerfile
Owners: @devops-team-leads

Add public-samples/agentx-6qib8r/src/backend/auth-service/package.json
  src/backend/auth-service/package.json
Owners: @platform-admins, @devops-team-leads

Add public-samples/agentx-6qib8r/src/backend/auth-service/tsconfig.json
  src/backend/auth-service/tsconfig.json
Owners: @platform-admins, @devops-team-leads

Add public-samples/agentx-6qib8r/src/backend/auth-service/src/index.ts
  src/backend/auth-service/src/index.ts
Owners: @security-team-leads

Add public-samples/agentx-6qib8r/src/backend/auth-service/src/config/auth0.config.ts
  src/backend/auth-service/src/config/auth0.config.ts
Owners: @platform-admins, @devops-team-leads

Add public-samples/agentx-6qib8r/src/backend/auth-service/src/middleware/jwt.middleware.ts
  src/backend/auth-service/src/middleware/jwt.middleware.ts
Owners: @security-team-leads

Add public-samples/agentx-6qib8r/src/backend/auth-service/src/models/User.ts
  src/backend/auth-service/src/models/User.ts
Owners: @security-team-leads

Add public-samples/agentx-6qib8r/src/backend/auth-service/src/services/auth.service.ts
  src/backend/auth-service/src/services/auth.service.ts
Owners: @security-team-leads

Add public-samples/agentx-6qib8r/src/backend/auth-service/test/unit/auth.test.ts
  src/backend/auth-service/test/unit/auth.test.ts
Owners: @backend-team-leads, @qa-team-leads

Add public-samples/agentx-6qib8r/src/backend/database/Dockerfile
  src/backend/database/Dockerfile
Owners: @devops-team-leads

Add public-samples/agentx-6qib8r/src/backend/database/init.sql
  src/backend/database/init.sql
Owners: @database-team-leads

Add public-samples/agentx-6qib8r/src/backend/database/migrations/001_initial_schema.sql
  src/backend/database/migrations/001_initial_schema.sql
Owners: @database-team-leads

Add public-samples/agentx-6qib8r/src/backend/database/migrations/002_auth_tables.sql
  src/backend/database/migrations/002_auth_tables.sql
Owners: @database-team-leads

Add public-samples/agentx-6qib8r/src/backend/database/migrations/003_agent_tables.sql
  src/backend/database/migrations/003_agent_tables.sql
Owners: @database-team-leads

Add public-samples/agentx-6qib8r/src/backend/database/migrations/004_integration_tables.sql
  src/backend/database/migrations/004_integration_tables.sql
Owners: @database-team-leads

Add public-samples/agentx-6qib8r/src/backend/database/migrations/005_metrics_tables.sql
  src/backend/database/migrations/005_metrics_tables.sql
Owners: @database-team-leads

Add public-samples/agentx-6qib8r/src/backend/grafana/dashboards/agent-metrics.json
  src/backend/grafana/dashboards/agent-metrics.json
Owners: @platform-admins, @devops-team-leads

Add public-samples/agentx-6qib8r/src/backend/grafana/dashboards/integration-metrics.json
  src/backend/grafana/dashboards/integration-metrics.json
Owners: @platform-admins, @devops-team-leads

Add public-samples/agentx-6qib8r/src/backend/grafana/dashboards/system-metrics.json
  src/backend/grafana/dashboards/system-metrics.json
Owners: @platform-admins, @devops-team-leads

Add public-samples/agentx-6qib8r/src/backend/grafana/datasources/prometheus.yaml
  src/backend/grafana/datasources/prometheus.yaml
Owners: @platform-admins, @devops-team-leads

Add public-samples/agentx-6qib8r/src/backend/integration-service/Dockerfile
  src/backend/integration-service/Dockerfile
Owners: @devops-team-leads

Add public-samples/agentx-6qib8r/src/backend/integration-service/main.go
  src/backend/integration-service/main.go
Owners: @backend-team-leads

Add public-samples/agentx-6qib8r/src/backend/integration-service/config/config.go
  src/backend/integration-service/config/config.go
Owners: @platform-admins, @devops-team-leads

Add public-samples/agentx-6qib8r/src/backend/integration-service/internal/models/integration.go
  src/backend/integration-service/internal/models/integration.go
Owners: @backend-team-leads

Add public-samples/agentx-6qib8r/src/backend/integration-service/internal/services/rms/client.go
  src/backend/integration-service/internal/services/rms/client.go
Owners: @backend-team-leads

Add public-samples/agentx-6qib8r/src/backend/integration-service/internal/services/zoho/client.go
  src/backend/integration-service/internal/services/zoho/client.go
Owners: @backend-team-leads

Add public-samples/agentx-6qib8r/src/backend/integration-service/pkg/auth/oauth.go
  src/backend/integration-service/pkg/auth/oauth.go
Owners: @security-team-leads

Add public-samples/agentx-6qib8r/src/backend/integration-service/pkg/database/postgres.go
  src/backend/integration-service/pkg/database/postgres.go
Owners: @backend-team-leads

Add public-samples/agentx-6qib8r/src/backend/integration-service/test/integration_test.go
  src/backend/integration-service/test/integration_test.go
Owners: @backend-team-leads, @qa-team-leads

Add public-samples/agentx-6qib8r/src/backend/istio/destination-rules.yaml
  src/backend/istio/destination-rules.yaml
Owners: @platform-admins, @devops-team-leads

Add public-samples/agentx-6qib8r/src/backend/istio/gateway.yaml
  src/backend/istio/gateway.yaml
Owners: @platform-admins, @devops-team-leads

Add public-samples/agentx-6qib8r/src/backend/istio/virtual-service.yaml
  src/backend/istio/virtual-service.yaml
Owners: @platform-admins, @devops-team-leads

Add public-samples/agentx-6qib8r/src/backend/k8s/agent-generator-deployment.yaml
  src/backend/k8s/agent-generator-deployment.yaml
Owners: @platform-admins, @devops-team-leads

Add public-samples/agentx-6qib8r/src/backend/k8s/api-gateway-deployment.yaml
  src/backend/k8s/api-gateway-deployment.yaml
Owners: @platform-admins, @devops-team-leads

.github/CODEOWNERS:

# Version: 1.0.0
# This file defines code ownership and mandatory reviewers for different components

# Default owners for everything in the repo
# Ensures all unspecified files have designated reviewers
* @platform-admins

# Backend Services
/src/backend/api-gateway/ @backend-team-leads
/src/backend/agent-generator/ @backend-team-leads
/src/backend/auth-service/ @backend-team-leads @security-team-leads
/src/backend/integration-service/ @backend-team-leads
/src/backend/monitoring-service/ @backend-team-leads @sre-team-leads
/src/backend/nlp-engine/ @backend-team-leads

# Frontend Application
/src/web/ @frontend-team-leads

# Infrastructure and Deployment
/infrastructure/ @devops-team-leads
/src/backend/k8s/ @devops-team-leads
/src/backend/istio/ @devops-team-leads

# Database
/src/backend/database/ @database-team-leads

# Security-Critical Components
.github/workflows/security-scan.yml @security-team-leads
/src/backend/auth-service/ @security-team-leads
/infrastructure/scripts/security-setup.sh @security-team-leads

# CI/CD Pipeline
.github/workflows/ @devops-team-leads @platform-admins
/infrastructure/scripts/ @devops-team-leads

# Documentation
*.md @technical-writers @platform-admins
/docs/ @technical-writers @platform-admins
**/README.md @technical-writers @platform-admins

# Monitoring and Observability
/src/backend/monitoring-service/ @sre-team-leads
/src/backend/grafana/ @sre-team-leads
/src/backend/prometheus/ @sre-team-leads

# Package Dependencies
package.json @backend-team-leads @security-team-leads
package-lock.json @backend-team-leads @security-team-leads
requirements.txt @backend-team-leads @security-team-leads
go.mod @backend-team-leads @security-team-leads
go.sum @backend-team-leads @security-team-leads

# Configuration Files
*.yaml @platform-admins @devops-team-leads
*.yml @platform-admins @devops-team-leads
*.json @platform-admins @devops-team-leads

# Security and Authentication
**/auth/ @security-team-leads
**/security/ @security-team-leads
**/encryption/ @security-team-leads

# Test Files
**/__tests__/ @backend-team-leads @qa-team-leads
**/test/ @backend-team-leads @qa-team-leads
**/*.test.* @backend-team-leads @qa-team-leads
**/*.spec.* @backend-team-leads @qa-team-leads

# Build Configuration
Dockerfile @devops-team-leads
.dockerignore @devops-team-leads
docker-compose*.yml @devops-team-leads
Makefile @devops-team-leads

# Environment Configuration
.env.* @platform-admins @security-team-leads
**/config/ @platform-admins @devops-team-leads

# Third-Party Integrations
/src/backend/integrations/ @backend-team-leads @security-team-leads
