Repository FastyFresh/agentx-6qib8r, changes with the owners that .github/CODEOWNERS names for each.
All owners: @platform-admins, @backend-team-leads, @security-team-leads, @sre-team-leads, @frontend-team-leads, @devops-team-leads, @database-team-leads, @technical-writers, @qa-team-leads

.github/CODEOWNERS:

# Version: 1.0.0
# This file defines code ownership and mandatory reviewers for different components

# Default owners for everything in the repo
# Ensures all unspecified files have designated reviewers
* @platform-admins

# Backend Services
/src/backend/api-gateway/ @backend-team-leads
/src/backend/agent-generator/ @backend-team-leads
/src/backend/auth-service/ @backend-team-leads @security-team-leads
/src/backend/integration-service/ @backend-team-leads
/src/backend/monitoring-service/ @backend-team-leads @sre-team-leads
/src/backend/nlp-engine/ @backend-team-leads

# Frontend Application
/src/web/ @frontend-team-leads

# Infrastructure and Deployment
/infrastructure/ @devops-team-leads
/src/backend/k8s/ @devops-team-leads
/src/backend/istio/ @devops-team-leads

# Database
/src/backend/database/ @database-team-leads

# Security-Critical Components
.github/workflows/security-scan.yml @security-team-leads
/src/backend/auth-service/ @security-team-leads
/infrastructure/scripts/security-setup.sh @security-team-leads

# CI/CD Pipeline
.github/workflows/ @devops-team-leads @platform-admins
/infrastructure/scripts/ @devops-team-leads

# Documentation
*.md @technical-writers @platform-admins
/docs/ @technical-writers @platform-admins
**/README.md @technical-writers @platform-admins

# Monitoring and Observability
/src/backend/monitoring-service/ @sre-team-leads
/src/backend/grafana/ @sre-team-leads
/src/backend/prometheus/ @sre-team-leads

# Package Dependencies
package.json @backend-team-leads @security-team-leads
package-lock.json @backend-team-leads @security-team-leads
requirements.txt @backend-team-leads @security-team-leads
go.mod @backend-team-leads @security-team-leads
go.sum @backend-team-leads @security-team-leads

# Configuration Files
*.yaml @platform-admins @devops-team-leads
*.yml @platform-admins @devops-team-leads
*.json @platform-admins @devops-team-leads

# Security and Authentication
**/auth/ @security-team-leads
**/security/ @security-team-leads
**/encryption/ @security-team-leads

# Test Files
**/__tests__/ @backend-team-leads @qa-team-leads
**/test/ @backend-team-leads @qa-team-leads
**/*.test.* @backend-team-leads @qa-team-leads
**/*.spec.* @backend-team-leads @qa-team-leads

# Build Configuration
Dockerfile @devops-team-leads
.dockerignore @devops-team-leads
docker-compose*.yml @devops-team-leads
Makefile @devops-team-leads

# Environment Configuration
.env.* @platform-admins @security-team-leads
**/config/ @platform-admins @devops-team-leads

# Third-Party Integrations
/src/backend/integrations/ @backend-team-leads @security-team-leads

Add public-samples/agentx-6qib8r/infrastructure/terraform/aws/rds.tf
  infrastructure/terraform/aws/rds.tf
Owners: @devops-team-leads

Add public-samples/agentx-6qib8r/infrastructure/terraform/aws/route53.tf
  infrastructure/terraform/aws/route53.tf
Owners: @devops-team-leads

Add public-samples/agentx-6qib8r/infrastructure/terraform/aws/s3.tf
  infrastructure/terraform/aws/s3.tf
Owners: @devops-team-leads

Add public-samples/agentx-6qib8r/infrastructure/terraform/aws/variables.tf
  infrastructure/terraform/aws/variables.tf
Owners: @devops-team-leads

Add public-samples/agentx-6qib8r/infrastructure/terraform/aws/vpc.tf
  infrastructure/terraform/aws/vpc.tf
Owners: @devops-team-leads

Add public-samples/agentx-6qib8r/infrastructure/terraform/environments/dev/main.tf
  infrastructure/terraform/environments/dev/main.tf
Owners: @devops-team-leads

Add public-samples/agentx-6qib8r/infrastructure/terraform/environments/dev/terraform.tfvars
  infrastructure/terraform/environments/dev/terraform.tfvars
Owners: @devops-team-leads

Add public-samples/agentx-6qib8r/infrastructure/terraform/environments/prod/main.tf
  infrastructure/terraform/environments/prod/main.tf
Owners: @devops-team-leads

Add public-samples/agentx-6qib8r/infrastructure/terraform/environments/prod/terraform.tfvars
  infrastructure/terraform/environments/prod/terraform.tfvars
Owners: @devops-team-leads

Add public-samples/agentx-6qib8r/infrastructure/terraform/environments/staging/main.tf
  infrastructure/terraform/environments/staging/main.tf
Owners: @devops-team-leads

Add public-samples/agentx-6qib8r/infrastructure/terraform/environments/staging/terraform.tfvars
  infrastructure/terraform/environments/staging/terraform.tfvars
Owners: @devops-team-leads

Add public-samples/agentx-6qib8r/infrastructure/terraform/modules/eks/main.tf
  infrastructure/terraform/modules/eks/main.tf
Owners: @devops-team-leads

Add public-samples/agentx-6qib8r/infrastructure/terraform/modules/eks/outputs.tf
  infrastructure/terraform/modules/eks/outputs.tf
Owners: @devops-team-leads

Add public-samples/agentx-6qib8r/infrastructure/terraform/modules/eks/variables.tf
  infrastructure/terraform/modules/eks/variables.tf
Owners: @devops-team-leads

Add public-samples/agentx-6qib8r/infrastructure/terraform/modules/rds/main.tf
  infrastructure/terraform/modules/rds/main.tf
Owners: @devops-team-leads

Add public-samples/agentx-6qib8r/infrastructure/terraform/modules/rds/outputs.tf
  infrastructure/terraform/modules/rds/outputs.tf
Owners: @devops-team-leads

Add public-samples/agentx-6qib8r/infrastructure/terraform/modules/rds/variables.tf
  infrastructure/terraform/modules/rds/variables.tf
Owners: @devops-team-leads

Add public-samples/agentx-6qib8r/infrastructure/terraform/modules/vpc/main.tf
  infrastructure/terraform/modules/vpc/main.tf
Owners: @devops-team-leads

Add public-samples/agentx-6qib8r/infrastructure/terraform/modules/vpc/outputs.tf
  infrastructure/terraform/modules/vpc/outputs.tf
Owners: @devops-team-leads

Add public-samples/agentx-6qib8r/infrastructure/terraform/modules/vpc/variables.tf
  infrastructure/terraform/modules/vpc/variables.tf
Owners: @devops-team-leads

Add public-samples/agentx-6qib8r/src/backend/.dockerignore
  src/backend/.dockerignore
Owners: @devops-team-leads

Add public-samples/agentx-6qib8r/src/backend/.env.example
  src/backend/.env.example
Owners: @platform-admins, @security-team-leads

Add public-samples/agentx-6qib8r/src/backend/README.md
  src/backend/README.md
Owners: @technical-writers, @platform-admins

Add public-samples/agentx-6qib8r/src/backend/docker-compose.yml
  src/backend/docker-compose.yml
Owners: @devops-team-leads

Add public-samples/agentx-6qib8r/src/backend/jest.config.ts
  src/backend/jest.config.ts
Owners: @platform-admins

Add public-samples/agentx-6qib8r/src/backend/nodemon.json
  src/backend/nodemon.json
Owners: @platform-admins, @devops-team-leads

Add public-samples/agentx-6qib8r/src/backend/package.json
  src/backend/package.json
Owners: @platform-admins, @devops-team-leads

Add public-samples/agentx-6qib8r/src/backend/tsconfig.json
  src/backend/tsconfig.json
Owners: @platform-admins, @devops-team-leads

Add public-samples/agentx-6qib8r/src/backend/agent-generator/Dockerfile
  src/backend/agent-generator/Dockerfile
Owners: @devops-team-leads

Add public-samples/agentx-6qib8r/src/backend/agent-generator/package.json
  src/backend/agent-generator/package.json
Owners: @platform-admins, @devops-team-leads

Add public-samples/agentx-6qib8r/src/backend/agent-generator/tsconfig.json
  src/backend/agent-generator/tsconfig.json
Owners: @platform-admins, @devops-team-leads

Add public-samples/agentx-6qib8r/src/backend/agent-generator/src/index.ts
  src/backend/agent-generator/src/index.ts
Owners: @backend-team-leads

Add public-samples/agentx-6qib8r/src/backend/agent-generator/src/config/config.ts
  src/backend/agent-generator/src/config/config.ts
Owners: @platform-admins, @devops-team-leads

Add public-samples/agentx-6qib8r/src/backend/agent-generator/src/models/Agent.ts
  src/backend/agent-generator/src/models/Agent.ts
Owners: @backend-team-leads

Add public-samples/agentx-6qib8r/src/backend/agent-generator/src/services/generator.service.ts
  src/backend/agent-generator/src/services/generator.service.ts
Owners: @backend-team-leads

Add public-samples/agentx-6qib8r/src/backend/agent-generator/src/templates/agent.template.ts
  src/backend/agent-generator/src/templates/agent.template.ts
Owners: @backend-team-leads

Add public-samples/agentx-6qib8r/src/backend/agent-generator/test/unit/generator.test.ts
  src/backend/agent-generator/test/unit/generator.test.ts
Owners: @backend-team-leads, @qa-team-leads

Add public-samples/agentx-6qib8r/src/backend/api-gateway/Dockerfile
  src/backend/api-gateway/Dockerfile
Owners: @devops-team-leads

Add public-samples/agentx-6qib8r/src/backend/api-gateway/package.json
  src/backend/api-gateway/package.json
Owners: @platform-admins, @devops-team-leads

Add public-samples/agentx-6qib8r/src/backend/api-gateway/tsconfig.json
  src/backend/api-gateway/tsconfig.json
Owners: @platform-admins, @devops-team-leads
