Repository FastyFresh/agentx-6qib8r, changes with the owners that .github/CODEOWNERS names for each.
All owners: @platform-admins, @backend-team-leads, @security-team-leads, @sre-team-leads, @frontend-team-leads, @devops-team-leads, @database-team-leads, @technical-writers, @qa-team-leads

.github/CODEOWNERS:

# Version: 1.0.0
# This file defines code ownership and mandatory reviewers for different components

# Default owners for everything in the repo
# Ensures all unspecified files have designated reviewers
* @platform-admins

# Backend Services
/src/backend/api-gateway/ @backend-team-leads
/src/backend/agent-generator/ @backend-team-leads
/src/backend/auth-service/ @backend-team-leads @security-team-leads
/src/backend/integration-service/ @backend-team-leads
/src/backend/monitoring-service/ @backend-team-leads @sre-team-leads
/src/backend/nlp-engine/ @backend-team-leads

# Frontend Application
/src/web/ @frontend-team-leads

# Infrastructure and Deployment
/infrastructure/ @devops-team-leads
/src/backend/k8s/ @devops-team-leads
/src/backend/istio/ @devops-team-leads

# Database
/src/backend/database/ @database-team-leads

# Security-Critical Components
.github/workflows/security-scan.yml @security-team-leads
/src/backend/auth-service/ @security-team-leads
/infrastructure/scripts/security-setup.sh @security-team-leads

# CI/CD Pipeline
.github/workflows/ @devops-team-leads @platform-admins
/infrastructure/scripts/ @devops-team-leads

# Documentation
*.md @technical-writers @platform-admins
/docs/ @technical-writers @platform-admins
**/README.md @technical-writers @platform-admins

# Monitoring and Observability
/src/backend/monitoring-service/ @sre-team-leads
/src/backend/grafana/ @sre-team-leads
/src/backend/prometheus/ @sre-team-leads

# Package Dependencies
package.json @backend-team-leads @security-team-leads
package-lock.json @backend-team-leads @security-team-leads
requirements.txt @backend-team-leads @security-team-leads
go.mod @backend-team-leads @security-team-leads
go.sum @backend-team-leads @security-team-leads

# Configuration Files
*.yaml @platform-admins @devops-team-leads
*.yml @platform-admins @devops-team-leads
*.json @platform-admins @devops-team-leads

# Security and Authentication
**/auth/ @security-team-leads
**/security/ @security-team-leads
**/encryption/ @security-team-leads

# Test Files
**/__tests__/ @backend-team-leads @qa-team-leads
**/test/ @backend-team-leads @qa-team-leads
**/*.test.* @backend-team-leads @qa-team-leads
**/*.spec.* @backend-team-leads @qa-team-leads

# Build Configuration
Dockerfile @devops-team-leads
.dockerignore @devops-team-leads
docker-compose*.yml @devops-team-leads
Makefile @devops-team-leads

# Environment Configuration
.env.* @platform-admins @security-team-leads
**/config/ @platform-admins @devops-team-leads

# Third-Party Integrations
/src/backend/integrations/ @backend-team-leads @security-team-leads

Add public-samples/agentx-6qib8r/src/backend/k8s/auth-service-deployment.yaml
  src/backend/k8s/auth-service-deployment.yaml
Owners: @platform-admins, @devops-team-leads

Add public-samples/agentx-6qib8r/src/backend/k8s/configmap.yaml
  src/backend/k8s/configmap.yaml
Owners: @platform-admins, @devops-team-leads

Add public-samples/agentx-6qib8r/src/backend/k8s/database-statefulset.yaml
  src/backend/k8s/database-statefulset.yaml
Owners: @platform-admins, @devops-team-leads

Add public-samples/agentx-6qib8r/src/backend/k8s/ingress.yaml
  src/backend/k8s/ingress.yaml
Owners: @platform-admins, @devops-team-leads

Add public-samples/agentx-6qib8r/src/backend/k8s/integration-service-deployment.yaml
  src/backend/k8s/integration-service-deployment.yaml
Owners: @platform-admins, @devops-team-leads

Add public-samples/agentx-6qib8r/src/backend/k8s/monitoring-service-deployment.yaml
  src/backend/k8s/monitoring-service-deployment.yaml
Owners: @platform-admins, @devops-team-leads

Add public-samples/agentx-6qib8r/src/backend/k8s/nlp-engine-deployment.yaml
  src/backend/k8s/nlp-engine-deployment.yaml
Owners: @platform-admins, @devops-team-leads

Add public-samples/agentx-6qib8r/src/backend/k8s/redis-statefulset.yaml
  src/backend/k8s/redis-statefulset.yaml
Owners: @platform-admins, @devops-team-leads

Add public-samples/agentx-6qib8r/src/backend/k8s/secrets.yaml
  src/backend/k8s/secrets.yaml
Owners: @platform-admins, @devops-team-leads

Add public-samples/agentx-6qib8r/src/backend/monitoring-service/Dockerfile
  src/backend/monitoring-service/Dockerfile
Owners: @devops-team-leads

Add public-samples/agentx-6qib8r/src/backend/monitoring-service/package.json
  src/backend/monitoring-service/package.json
Owners: @platform-admins, @devops-team-leads

Add public-samples/agentx-6qib8r/src/backend/monitoring-service/tsconfig.json
  src/backend/monitoring-service/tsconfig.json
Owners: @platform-admins, @devops-team-leads

Add public-samples/agentx-6qib8r/src/backend/monitoring-service/src/index.ts
  src/backend/monitoring-service/src/index.ts
Owners: @sre-team-leads

Add public-samples/agentx-6qib8r/src/backend/monitoring-service/src/collectors/metrics.collector.ts
  src/backend/monitoring-service/src/collectors/metrics.collector.ts
Owners: @sre-team-leads

Add public-samples/agentx-6qib8r/src/backend/monitoring-service/src/config/prometheus.ts
  src/backend/monitoring-service/src/config/prometheus.ts
Owners: @platform-admins, @devops-team-leads

Add public-samples/agentx-6qib8r/src/backend/monitoring-service/src/services/alert.service.ts
  src/backend/monitoring-service/src/services/alert.service.ts
Owners: @sre-team-leads

Add public-samples/agentx-6qib8r/src/backend/monitoring-service/src/utils/logger.ts
  src/backend/monitoring-service/src/utils/logger.ts
Owners: @sre-team-leads

Add public-samples/agentx-6qib8r/src/backend/monitoring-service/test/unit/metrics.test.ts
  src/backend/monitoring-service/test/unit/metrics.test.ts
Owners: @backend-team-leads, @qa-team-leads

Add public-samples/agentx-6qib8r/src/backend/nlp-engine/Dockerfile
  src/backend/nlp-engine/Dockerfile
Owners: @devops-team-leads

Add public-samples/agentx-6qib8r/src/backend/nlp-engine/pyproject.toml
  src/backend/nlp-engine/pyproject.toml
Owners: @backend-team-leads

Add public-samples/agentx-6qib8r/src/backend/nlp-engine/requirements.txt
  src/backend/nlp-engine/requirements.txt
Owners: @backend-team-leads, @security-team-leads

Add public-samples/agentx-6qib8r/src/backend/nlp-engine/setup.py
  src/backend/nlp-engine/setup.py
Owners: @backend-team-leads

Add public-samples/agentx-6qib8r/src/backend/nlp-engine/src/__init__.py
  src/backend/nlp-engine/src/__init__.py
Owners: @backend-team-leads

Add public-samples/agentx-6qib8r/src/backend/nlp-engine/src/main.py
  src/backend/nlp-engine/src/main.py
Owners: @backend-team-leads

Add public-samples/agentx-6qib8r/src/backend/nlp-engine/src/config/settings.py
  src/backend/nlp-engine/src/config/settings.py
Owners: @platform-admins, @devops-team-leads

Add public-samples/agentx-6qib8r/src/backend/nlp-engine/src/models/entity_extractor.py
  src/backend/nlp-engine/src/models/entity_extractor.py
Owners: @backend-team-leads

Add public-samples/agentx-6qib8r/src/backend/nlp-engine/src/models/intent_classifier.py
  src/backend/nlp-engine/src/models/intent_classifier.py
Owners: @backend-team-leads

Add public-samples/agentx-6qib8r/src/backend/nlp-engine/src/services/language_processor.py
  src/backend/nlp-engine/src/services/language_processor.py
Owners: @backend-team-leads

Add public-samples/agentx-6qib8r/src/backend/nlp-engine/src/utils/text_preprocessor.py
  src/backend/nlp-engine/src/utils/text_preprocessor.py
Owners: @backend-team-leads

Add public-samples/agentx-6qib8r/src/backend/nlp-engine/tests/test_entity_extractor.py
  src/backend/nlp-engine/tests/test_entity_extractor.py
Owners: @backend-team-leads

Add public-samples/agentx-6qib8r/src/backend/nlp-engine/tests/test_intent_classifier.py
  src/backend/nlp-engine/tests/test_intent_classifier.py
Owners: @backend-team-leads

Add public-samples/agentx-6qib8r/src/backend/prometheus/alert-rules.yml
  src/backend/prometheus/alert-rules.yml
Owners: @platform-admins, @devops-team-leads

Add public-samples/agentx-6qib8r/src/backend/prometheus/prometheus.yml
  src/backend/prometheus/prometheus.yml
Owners: @platform-admins, @devops-team-leads

Add public-samples/agentx-6qib8r/src/web/.dockerignore
  src/web/.dockerignore
Owners: @devops-team-leads

Add public-samples/agentx-6qib8r/src/web/.env.example
  src/web/.env.example
Owners: @platform-admins, @security-team-leads

Add public-samples/agentx-6qib8r/src/web/.eslintrc.ts
  src/web/.eslintrc.ts
Owners: @frontend-team-leads

Add public-samples/agentx-6qib8r/src/web/.prettierrc
  src/web/.prettierrc
Owners: @frontend-team-leads

Add public-samples/agentx-6qib8r/src/web/Dockerfile
  src/web/Dockerfile
Owners: @devops-team-leads

Add public-samples/agentx-6qib8r/src/web/README.md
  src/web/README.md
Owners: @technical-writers, @platform-admins

Add public-samples/agentx-6qib8r/src/web/index.html
  src/web/index.html
Owners: @frontend-team-leads
