Repository FastyFresh/agentx-6qib8r, changes with the owners that .github/CODEOWNERS names for each.
All owners: @platform-admins, @backend-team-leads, @security-team-leads, @sre-team-leads, @frontend-team-leads, @devops-team-leads, @database-team-leads, @technical-writers, @qa-team-leads

Add public-samples/agentx-6qib8r/src/web/package.json
  src/web/package.json
Owners: @platform-admins, @devops-team-leads

Add public-samples/agentx-6qib8r/src/web/tsconfig.json
  src/web/tsconfig.json
Owners: @platform-admins, @devops-team-leads

Add public-samples/agentx-6qib8r/src/web/vite.config.ts
  src/web/vite.config.ts
Owners: @frontend-team-leads

Add public-samples/agentx-6qib8r/src/web/src/App.tsx
  src/web/src/App.tsx
Owners: @frontend-team-leads

Add public-samples/agentx-6qib8r/src/web/src/main.tsx
  src/web/src/main.tsx
Owners: @frontend-team-leads

Add public-samples/agentx-6qib8r/src/web/src/vite-env.d.ts
  src/web/src/vite-env.d.ts
Owners: @frontend-team-leads

Add public-samples/agentx-6qib8r/src/web/src/components/agents/AgentCard.tsx
  src/web/src/components/agents/AgentCard.tsx
Owners: @frontend-team-leads

Add public-samples/agentx-6qib8r/src/web/src/components/agents/AgentCreationForm.tsx
  src/web/src/components/agents/AgentCreationForm.tsx
Owners: @frontend-team-leads

Add public-samples/agentx-6qib8r/src/web/src/components/agents/AgentList.tsx
  src/web/src/components/agents/AgentList.tsx
Owners: @frontend-team-leads

Add public-samples/agentx-6qib8r/src/web/src/components/agents/AgentMetrics.tsx
  src/web/src/components/agents/AgentMetrics.tsx
Owners: @frontend-team-leads

Add public-samples/agentx-6qib8r/src/web/src/components/agents/AgentStatusBadge.tsx
  src/web/src/components/agents/AgentStatusBadge.tsx
Owners: @frontend-team-leads

Add public-samples/agentx-6qib8r/src/web/src/components/analytics/AnalyticsChart.tsx
  src/web/src/components/analytics/AnalyticsChart.tsx
Owners: @frontend-team-leads

Add public-samples/agentx-6qib8r/src/web/src/components/analytics/MetricsCard.tsx
  src/web/src/components/analytics/MetricsCard.tsx
Owners: @frontend-team-leads

Add public-samples/agentx-6qib8r/src/web/src/components/analytics/PerformanceGraph.tsx
  src/web/src/components/analytics/PerformanceGraph.tsx
Owners: @frontend-team-leads

Add public-samples/agentx-6qib8r/src/web/src/components/analytics/SystemHealthCard.tsx
  src/web/src/components/analytics/SystemHealthCard.tsx
Owners: @frontend-team-leads

Add public-samples/agentx-6qib8r/src/web/src/components/auth/LoginForm.tsx
  src/web/src/components/auth/LoginForm.tsx
Owners: @security-team-leads

Add public-samples/agentx-6qib8r/src/web/src/components/auth/MFAVerification.tsx
  src/web/src/components/auth/MFAVerification.tsx
Owners: @security-team-leads

Add public-samples/agentx-6qib8r/src/web/src/components/auth/PasswordReset.tsx
  src/web/src/components/auth/PasswordReset.tsx
Owners: @security-team-leads

Add public-samples/agentx-6qib8r/src/web/src/components/common/AlertDialog.tsx
  src/web/src/components/common/AlertDialog.tsx
Owners: @frontend-team-leads

Add public-samples/agentx-6qib8r/src/web/src/components/common/Breadcrumbs.tsx
  src/web/src/components/common/Breadcrumbs.tsx
Owners: @frontend-team-leads

Add public-samples/agentx-6qib8r/src/web/src/components/common/Button.tsx
  src/web/src/components/common/Button.tsx
Owners: @frontend-team-leads

Add public-samples/agentx-6qib8r/src/web/src/components/common/Card.tsx
  src/web/src/components/common/Card.tsx
Owners: @frontend-team-leads

Add public-samples/agentx-6qib8r/src/web/src/components/common/ConfirmDialog.tsx
  src/web/src/components/common/ConfirmDialog.tsx
Owners: @frontend-team-leads

Add public-samples/agentx-6qib8r/src/web/src/components/common/DataGrid.tsx
  src/web/src/components/common/DataGrid.tsx
Owners: @frontend-team-leads

Add public-samples/agentx-6qib8r/src/web/src/components/common/DatePicker.tsx
  src/web/src/components/common/DatePicker.tsx
Owners: @frontend-team-leads

Add public-samples/agentx-6qib8r/src/web/src/components/common/Dropdown.tsx
  src/web/src/components/common/Dropdown.tsx
Owners: @frontend-team-leads

Add public-samples/agentx-6qib8r/src/web/src/components/common/ErrorBoundary.tsx
  src/web/src/components/common/ErrorBoundary.tsx
Owners: @frontend-team-leads

Add public-samples/agentx-6qib8r/src/web/src/components/common/FormField.tsx
  src/web/src/components/common/FormField.tsx
Owners: @frontend-team-leads

Add public-samples/agentx-6qib8r/src/web/src/components/common/IconButton.tsx
  src/web/src/components/common/IconButton.tsx
Owners: @frontend-team-leads

Add public-samples/agentx-6qib8r/src/web/src/components/common/LoadingSpinner.tsx
  src/web/src/components/common/LoadingSpinner.tsx
Owners: @frontend-team-leads

Add public-samples/agentx-6qib8r/src/web/src/components/common/Modal.tsx
  src/web/src/components/common/Modal.tsx
Owners: @frontend-team-leads

Add public-samples/agentx-6qib8r/src/web/src/components/common/Notification.tsx
  src/web/src/components/common/Notification.tsx
Owners: @frontend-team-leads

Add public-samples/agentx-6qib8r/src/web/src/components/common/PageHeader.tsx
  src/web/src/components/common/PageHeader.tsx
Owners: @frontend-team-leads

Add public-samples/agentx-6qib8r/src/web/src/components/common/Pagination.tsx
  src/web/src/components/common/Pagination.tsx
Owners: @frontend-team-leads

Add public-samples/agentx-6qib8r/src/web/src/components/common/ProgressBar.tsx
  src/web/src/components/common/ProgressBar.tsx
Owners: @frontend-team-leads

Add public-samples/agentx-6qib8r/src/web/src/components/common/SearchBar.tsx
  src/web/src/components/common/SearchBar.tsx
Owners: @frontend-team-leads

Add public-samples/agentx-6qib8r/src/web/src/components/common/Sidebar.tsx
  src/web/src/components/common/Sidebar.tsx
Owners: @frontend-team-leads

Add public-samples/agentx-6qib8r/src/web/src/components/common/Table.tsx
  src/web/src/components/common/Table.tsx
Owners: @frontend-team-leads

Add public-samples/agentx-6qib8r/src/web/src/components/common/Tabs.tsx
  src/web/src/components/common/Tabs.tsx
Owners: @frontend-team-leads

Add public-samples/agentx-6qib8r/src/web/src/components/common/TextArea.tsx
  src/web/src/components/common/TextArea.tsx
Owners: @frontend-team-leads

.github/CODEOWNERS:

# Version: 1.0.0
# This file defines code ownership and mandatory reviewers for different components

# Default owners for everything in the repo
# Ensures all unspecified files have designated reviewers
* @platform-admins

# Backend Services
/src/backend/api-gateway/ @backend-team-leads
/src/backend/agent-generator/ @backend-team-leads
/src/backend/auth-service/ @backend-team-leads @security-team-leads
/src/backend/integration-service/ @backend-team-leads
/src/backend/monitoring-service/ @backend-team-leads @sre-team-leads
/src/backend/nlp-engine/ @backend-team-leads

# Frontend Application
/src/web/ @frontend-team-leads

# Infrastructure and Deployment
/infrastructure/ @devops-team-leads
/src/backend/k8s/ @devops-team-leads
/src/backend/istio/ @devops-team-leads

# Database
/src/backend/database/ @database-team-leads

# Security-Critical Components
.github/workflows/security-scan.yml @security-team-leads
/src/backend/auth-service/ @security-team-leads
/infrastructure/scripts/security-setup.sh @security-team-leads

# CI/CD Pipeline
.github/workflows/ @devops-team-leads @platform-admins
/infrastructure/scripts/ @devops-team-leads

# Documentation
*.md @technical-writers @platform-admins
/docs/ @technical-writers @platform-admins
**/README.md @technical-writers @platform-admins

# Monitoring and Observability
/src/backend/monitoring-service/ @sre-team-leads
/src/backend/grafana/ @sre-team-leads
/src/backend/prometheus/ @sre-team-leads

# Package Dependencies
package.json @backend-team-leads @security-team-leads
package-lock.json @backend-team-leads @security-team-leads
requirements.txt @backend-team-leads @security-team-leads
go.mod @backend-team-leads @security-team-leads
go.sum @backend-team-leads @security-team-leads

# Configuration Files
*.yaml @platform-admins @devops-team-leads
*.yml @platform-admins @devops-team-leads
*.json @platform-admins @devops-team-leads

# Security and Authentication
**/auth/ @security-team-leads
**/security/ @security-team-leads
**/encryption/ @security-team-leads

# Test Files
**/__tests__/ @backend-team-leads @qa-team-leads
**/test/ @backend-team-leads @qa-team-leads
**/*.test.* @backend-team-leads @qa-team-leads
**/*.spec.* @backend-team-leads @qa-team-leads

# Build Configuration
Dockerfile @devops-team-leads
.dockerignore @devops-team-leads
docker-compose*.yml @devops-team-leads
Makefile @devops-team-leads

# Environment Configuration
.env.* @platform-admins @security-team-leads
**/config/ @platform-admins @devops-team-leads

# Third-Party Integrations
/src/backend/integrations/ @backend-team-leads @security-team-leads
