Repository FastyFresh/agentx-6qib8r, changes with the owners that .github/CODEOWNERS names for each.
All owners: @platform-admins, @backend-team-leads, @security-team-leads, @sre-team-leads, @frontend-team-leads, @devops-team-leads, @database-team-leads, @technical-writers, @qa-team-leads

.github/CODEOWNERS:

# Version: 1.0.0
# This file defines code ownership and mandatory reviewers for different components

# Default owners for everything in the repo
# Ensures all unspecified files have designated reviewers
* @platform-admins

# Backend Services
/src/backend/api-gateway/ @backend-team-leads
/src/backend/agent-generator/ @backend-team-leads
/src/backend/auth-service/ @backend-team-leads @security-team-leads
/src/backend/integration-service/ @backend-team-leads
/src/backend/monitoring-service/ @backend-team-leads @sre-team-leads
/src/backend/nlp-engine/ @backend-team-leads

# Frontend Application
/src/web/ @frontend-team-leads

# Infrastructure and Deployment
/infrastructure/ @devops-team-leads
/src/backend/k8s/ @devops-team-leads
/src/backend/istio/ @devops-team-leads

# Database
/src/backend/database/ @database-team-leads

# Security-Critical Components
.github/workflows/security-scan.yml @security-team-leads
/src/backend/auth-service/ @security-team-leads
/infrastructure/scripts/security-setup.sh @security-team-leads

# CI/CD Pipeline
.github/workflows/ @devops-team-leads @platform-admins
/infrastructure/scripts/ @devops-team-leads

# Documentation
*.md @technical-writers @platform-admins
/docs/ @technical-writers @platform-admins
**/README.md @technical-writers @platform-admins

# Monitoring and Observability
/src/backend/monitoring-service/ @sre-team-leads
/src/backend/grafana/ @sre-team-leads
/src/backend/prometheus/ @sre-team-leads

# Package Dependencies
package.json @backend-team-leads @security-team-leads
package-lock.json @backend-team-leads @security-team-leads
requirements.txt @backend-team-leads @security-team-leads
go.mod @backend-team-leads @security-team-leads
go.sum @backend-team-leads @security-team-leads

# Configuration Files
*.yaml @platform-admins @devops-team-leads
*.yml @platform-admins @devops-team-leads
*.json @platform-admins @devops-team-leads

# Security and Authentication
**/auth/ @security-team-leads
**/security/ @security-team-leads
**/encryption/ @security-team-leads

# Test Files
**/__tests__/ @backend-team-leads @qa-team-leads
**/test/ @backend-team-leads @qa-team-leads
**/*.test.* @backend-team-leads @qa-team-leads
**/*.spec.* @backend-team-leads @qa-team-leads

# Build Configuration
Dockerfile @devops-team-leads
.dockerignore @devops-team-leads
docker-compose*.yml @devops-team-leads
Makefile @devops-team-leads

# Environment Configuration
.env.* @platform-admins @security-team-leads
**/config/ @platform-admins @devops-team-leads

# Third-Party Integrations
/src/backend/integrations/ @backend-team-leads @security-team-leads

Add public-samples/agentx-6qib8r/.github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @technical-writers, @platform-admins

Add public-samples/agentx-6qib8r/.github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: @technical-writers, @platform-admins

Add public-samples/agentx-6qib8r/.github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Owners: @technical-writers, @platform-admins

Add public-samples/agentx-6qib8r/.github/workflows/cd.yml
  .github/workflows/cd.yml
Owners: @platform-admins, @devops-team-leads

Add public-samples/agentx-6qib8r/.github/workflows/ci.yml
  .github/workflows/ci.yml
Owners: @platform-admins, @devops-team-leads

Add public-samples/agentx-6qib8r/.github/workflows/security-scan.yml
  .github/workflows/security-scan.yml
Owners: @platform-admins, @devops-team-leads

Add public-samples/agentx-6qib8r/blitzy/documentation/Input Prompt.md
  blitzy/documentation/Input Prompt.md
Owners: @technical-writers, @platform-admins

Add public-samples/agentx-6qib8r/blitzy/documentation/Product Requirements Document (PRD).md
  blitzy/documentation/Product Requirements Document (PRD).md
Owners: @technical-writers, @platform-admins

Add public-samples/agentx-6qib8r/blitzy/documentation/Project Guide.md
  blitzy/documentation/Project Guide.md
Owners: @technical-writers, @platform-admins

Add public-samples/agentx-6qib8r/blitzy/documentation/Technical Specifications.md
  blitzy/documentation/Technical Specifications.md
Owners: @technical-writers, @platform-admins

Add public-samples/agentx-6qib8r/infrastructure/docker/base.Dockerfile
  infrastructure/docker/base.Dockerfile
Owners: @devops-team-leads

Add public-samples/agentx-6qib8r/infrastructure/docker/dev.Dockerfile
  infrastructure/docker/dev.Dockerfile
Owners: @devops-team-leads

Add public-samples/agentx-6qib8r/infrastructure/docker/prod.Dockerfile
  infrastructure/docker/prod.Dockerfile
Owners: @devops-team-leads

Add public-samples/agentx-6qib8r/infrastructure/helm/agent-platform/Chart.yaml
  infrastructure/helm/agent-platform/Chart.yaml
Owners: @platform-admins, @devops-team-leads

Add public-samples/agentx-6qib8r/infrastructure/helm/agent-platform/values-dev.yaml
  infrastructure/helm/agent-platform/values-dev.yaml
Owners: @platform-admins, @devops-team-leads

Add public-samples/agentx-6qib8r/infrastructure/helm/agent-platform/values-prod.yaml
  infrastructure/helm/agent-platform/values-prod.yaml
Owners: @platform-admins, @devops-team-leads

Add public-samples/agentx-6qib8r/infrastructure/helm/agent-platform/values-staging.yaml
  infrastructure/helm/agent-platform/values-staging.yaml
Owners: @platform-admins, @devops-team-leads

Add public-samples/agentx-6qib8r/infrastructure/helm/agent-platform/values.yaml
  infrastructure/helm/agent-platform/values.yaml
Owners: @platform-admins, @devops-team-leads

Add public-samples/agentx-6qib8r/infrastructure/helm/agent-platform/templates/NOTES.txt
  infrastructure/helm/agent-platform/templates/NOTES.txt
Owners: @devops-team-leads

Add public-samples/agentx-6qib8r/infrastructure/helm/agent-platform/templates/configmap.yaml
  infrastructure/helm/agent-platform/templates/configmap.yaml
Owners: @platform-admins, @devops-team-leads

Add public-samples/agentx-6qib8r/infrastructure/helm/agent-platform/templates/deployment.yaml
  infrastructure/helm/agent-platform/templates/deployment.yaml
Owners: @platform-admins, @devops-team-leads

Add public-samples/agentx-6qib8r/infrastructure/helm/agent-platform/templates/hpa.yaml
  infrastructure/helm/agent-platform/templates/hpa.yaml
Owners: @platform-admins, @devops-team-leads

Add public-samples/agentx-6qib8r/infrastructure/helm/agent-platform/templates/ingress.yaml
  infrastructure/helm/agent-platform/templates/ingress.yaml
Owners: @platform-admins, @devops-team-leads

Add public-samples/agentx-6qib8r/infrastructure/helm/agent-platform/templates/pdb.yaml
  infrastructure/helm/agent-platform/templates/pdb.yaml
Owners: @platform-admins, @devops-team-leads

Add public-samples/agentx-6qib8r/infrastructure/helm/agent-platform/templates/secret.yaml
  infrastructure/helm/agent-platform/templates/secret.yaml
Owners: @platform-admins, @devops-team-leads

Add public-samples/agentx-6qib8r/infrastructure/helm/agent-platform/templates/service.yaml
  infrastructure/helm/agent-platform/templates/service.yaml
Owners: @platform-admins, @devops-team-leads

Add public-samples/agentx-6qib8r/infrastructure/helm/agent-platform/templates/serviceaccount.yaml
  infrastructure/helm/agent-platform/templates/serviceaccount.yaml
Owners: @platform-admins, @devops-team-leads

Add public-samples/agentx-6qib8r/infrastructure/scripts/backup.sh
  infrastructure/scripts/backup.sh
Owners: @devops-team-leads

Add public-samples/agentx-6qib8r/infrastructure/scripts/deploy.sh
  infrastructure/scripts/deploy.sh
Owners: @devops-team-leads

Add public-samples/agentx-6qib8r/infrastructure/scripts/init-cluster.sh
  infrastructure/scripts/init-cluster.sh
Owners: @devops-team-leads

Add public-samples/agentx-6qib8r/infrastructure/scripts/monitoring-setup.sh
  infrastructure/scripts/monitoring-setup.sh
Owners: @devops-team-leads

Add public-samples/agentx-6qib8r/infrastructure/scripts/security-setup.sh
  infrastructure/scripts/security-setup.sh
Owners: @devops-team-leads

Add public-samples/agentx-6qib8r/infrastructure/terraform/aws/cloudfront.tf
  infrastructure/terraform/aws/cloudfront.tf
Owners: @devops-team-leads

Add public-samples/agentx-6qib8r/infrastructure/terraform/aws/eks.tf
  infrastructure/terraform/aws/eks.tf
Owners: @devops-team-leads

Add public-samples/agentx-6qib8r/infrastructure/terraform/aws/elasticache.tf
  infrastructure/terraform/aws/elasticache.tf
Owners: @devops-team-leads

Add public-samples/agentx-6qib8r/infrastructure/terraform/aws/iam.tf
  infrastructure/terraform/aws/iam.tf
Owners: @devops-team-leads

Add public-samples/agentx-6qib8r/infrastructure/terraform/aws/kms.tf
  infrastructure/terraform/aws/kms.tf
Owners: @devops-team-leads

Add public-samples/agentx-6qib8r/infrastructure/terraform/aws/main.tf
  infrastructure/terraform/aws/main.tf
Owners: @devops-team-leads

Add public-samples/agentx-6qib8r/infrastructure/terraform/aws/outputs.tf
  infrastructure/terraform/aws/outputs.tf
Owners: @devops-team-leads

Add public-samples/agentx-6qib8r/infrastructure/terraform/aws/provider.tf
  infrastructure/terraform/aws/provider.tf
Owners: @devops-team-leads
